*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    line-height: 5rem;
    height: 5rem;
}
.choice{
    height: 150px;
    width: 150px;
    transition: transform 0.3s ease;
   

}
.choice:hover{
    transform: translateY(10px);
    cursor: pointer;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 15px;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 10px;
    margin-bottom: 10px;
   
}
#msg{
    background-color: #081b31;
    color: #fff;
    display: inline;
    padding: 0.5rem;
    border-radius: 1rem;
}